<ul>
<li>
Projects 
</li>
<h5> 
 Lama Alaskar Portfolio
</h5>
<p> Basically Designed and Established by Ruby on rails Tools To help me Geeting all of my professional Work There .</p>
<h5>Medical Equipmets Donation </h5>

<p>Given what happened recently due to Covid 19 there was a significant shortage of medical equipment, which affected the hospitals around the world. Thus the project objective is to create Full-Stack Ruby on Rails web application that allow user to donate medical equipment and hospital requests.</p>
<a href="https://github.com/lamooooo1418/Medical-Equipment-for-Donation"> Project Repo</a><br>

<a href="https://thawing-ravine-95336.herokuapp.com/">Deployed</a>

<h5> Personal and professional  App  </h5>

<p> Full stack  Web Development Which let the users to sign up to the website and let them Create a Resume ,<br>Edit and delete also  users Can Edit thier information of it Using React on the frontend side and mongoose's with Express on Backend and database side by a Great team . </p>
<a href="https://github.com/AlMuhannaMH/personal-and-professional-page-frontend">Frontend Repo</a>
<br>
<a href="https://github.com/AlMuhannaMH/personal-and-professional-page-backend">Backend Repo </a>
<br>
<a href="https://almuhannamh.github.io/ppp-frontend/#/">Deployed </a><br><br>
<h5> Tic Tac Toe Game  </h5>

<p> Game Board Represent two Players one of them Represent O and the other represent X and they Play alternatively .<br>Tic Tac Toe developed by JavaScript's Programming Language with CSS and Html as the Structure of the game board .
</p>

<a href="https://github.com/lamooooo1418/Tic-tac-toe">Project Repo</a>
<br>
<a href="https://lamooooo1418.github.io/Tic-tac-toe/">Deployed </a><br><br>

<h5> Simulation of Cache Memory </h5>
<p>
"Graduation Project": Project of Two Parts: Theoretical and Practical. - Theoretical Part was focused on the previous studies of the subject and analysis the Results;<br> while the practical Part meant to use our Design Parameter of Cache Memory and implement it Using Java language Environment, analyze Our results and Study the effect of each.
</p>
</ul>
 <ul>
 <li>
Skills
</li>
<h5>
Programming language including(Java,C,SQL,Javascripts)
</h5>
<h5>
Ruby on Rails
</h5>
<h5>
Github
</h5>
<h5>
Problem Solving
</h5>
<h5>
Self learning
</h5>
<h5>
Planning
</h5>
<h5>
Communication Skills
</h5>
<li>
Languages
</li>
<h5>
Arabic
</h5>
<h5>
English
</h5>
</li>
 </ul>