
<ul>
<li> About me :</li>
 <p> A software Engineer & Computer Scientist ,efficient in Solving problems creatively .Eager to use my programming skills in real-business situation Learning & Development inspire and motivate me ; seeking a challenging role in fast growing enviroment where I can start my career path.
</p>
<li> Qualification :</li>
<p> – Certified Software Engineer General Assembly <br> Misk Academy 2020
<br>
– BSc in Computer Science <br>
King Saud University 2015-2020
<p>
<li> Career Journey – Work History :</li>
<p  class="Title">General Assembly - Misk Academy</p>
SoftwareEngineering Full stack Development
<p>SoftwareEngineering
Full stack Development with JavaScript's ,CSS, HTML as a Frontend
and Using React ,Ruby in rails as framework with different Uses. Creating Projects individually and with a team,
So that can Lead To improving both technical and comunication Skills </p>
<p class="Title">Deanship of Library At King Saud University</p>
Web Development Summer Training-  Starting From june-2018 to Aug.2018.<br>
Starting with Collecting Requirement and designing the database of the Locker System that help student to Reserve their Locker of the library Using java ,SQL ,Php and HTML as the Tools of the Project .


</ul>